<!DOCTYPE html>
<html>
<head>
  <style>
    .fieldValid {
      background: #00ff00;
    }
    .fieldInvalid {
      background: #ff0000;
    }
  </style>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.min.js"></script>
</head>

<body ng-app="myapp">

<div ng-controller="MyController" >
  <form name="myFormNg">
    <label>First name</label>
    <!-- validate names have between 2 and 15 characters -->
    <!-- first and last name are required -->
    <input type="text" ng-class="myForm.getFormFieldCssClass(myFormNg.firstName)" name="firstName" ng-model="myForm.firstName" ng-minlength="2" ng-maxlength="15" ng-required> <br />
    <label>Last name</label>
    <input type="text" ng-class="myForm.getFormFieldCssClass(myFormNg.lastName)" name="lastName"  ng-model="myForm.lastName" ng-minlength="2" ng-maxlength="15" ng-required><br/>

    <label>Age</label>
    <!-- ng-pattern to guarantee a number -->
    <input type="number" min=1 max=115 name="age" ng-model="myForm.age" ng-pattern="/^\d+$/"><br />
    <label>Signed Agreement: </label>
    <input type="checkbox" ng-model="myForm.signedAgreement" ><br />
    <label>Wants Newsletter: </label>
    <input type="checkbox" ng-model="myForm.wantNewsletter" ng-true-value="yes" ng-false-value="no" ><br />

    <fieldset>
      <label>Daily: </label><input type="radio" ng-model="myForm.subscriptionType" value="daily">
      <label>Weekly: </label><input type="radio" ng-model="myForm.subscriptionType" value="weekly">
      <label>Monthly: </label><input type="radio" ng-model="myForm.subscriptionType" value="monthly">
    </fieldset>

    <!-- dropdown to select a car model -->
    <!-- build options from code passed to ng-options -->
    <!-- optionBinding expression   dataSource expression -->
    <select ng-model="myForm.car" ng-options="car.id as car.name group by car.type for car in myForm.carOptions">
      <option value="">Select a Car</option>
    </select>

  </form>

  <hr>

  <div>
    <p>Name: {{myForm.firstName}} {{myForm.lastName}}</p>
    <p>Age: {{myForm.age}}
    <p>Signed Agreement: {{myForm.signedAgreement}}</p>
    <p>Want Newsletter: {{myForm.wantNewsletter}}</p>
    <p>Subscription Type: {{myForm.subscriptionType}}</p>
    <p>Car Model: {{myForm.car}}</p>
  </div>
</div>

<script>
  angular.module("myapp", [])
    .controller("MyController", function($scope) {
      $scope.myForm = {};
      $scope.myForm.firstName = "Jakob";
      $scope.myForm.lastName  = "Jenkov";
      $scope.myForm.age  = 25;
      $scope.myForm.signedAgreement  = false;
      $scope.myForm.wantNewsletter  = "yes";
      $scope.myForm.subscriptionType  = "weekly";
      $scope.myForm.car = "";
      $scope.myForm.carOptions = [
        {id: 'nissan', name: 'Nissan', type: 'foreign' },
        {id: 'toyota', name: 'Toyota', type: 'foreign'  },
        {id: 'fiat', name: 'Fiat', type: 'foreign' },
        {id: 'ford', name: 'Ford', type: 'domestic' },
        {id: 'gm', name: 'GM', type: 'domestic' }
      ];

      $scope.myForm.getFormFieldCssClass = function(ngModelController) {
      //console.log("getting css class: " + ngModelController.$valid) ;

      // if the inout field has NOT been changed, it's pristine,
      // set it's class to an empty string
      if(ngModelController.$pristine){
        return "";
      }

      // if the field is valid set it's css to fieldValid,
      // else set it to fieldInvalid
      return ngModelController.$valid ? "fieldValid" : "fieldInvalid";
      };
    });
</script>

</body>
</html>
